.dice {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;

    margin: 5px;
}

.diceRow {
    display: flex;
    flex-direction: row;
}
